{% extends "base.html" %}
{% block content %}
<div id="main-content">
    <h2>Update Record</h2>
    <form class="post-form" action="" method="post">
        {% csrf_token %}
        {% comment %} {% for data in formedit  %}
      <div class="form-group">
          <label>{{data.label}}</label>
          {{data}}
      </div>
      {% endfor %} {% endcomment %}
      {% comment %} <div class="form-group">
          <label>Class</label>
          <select name="sclass">
              <option value="" selected disabled>Select Class</option>
              <option value="1">BCA</option>
              <option value="2">BSC</option>
              <option value="3">B.TECH</option>
          </select>
      </div> {% endcomment %}
      <div class="form-group">
        <label>Name</label>
        {{form.name}}
    </div>
    
    <div class="form-group">
        <label>Address</label>
        {{form.address}}
    </div>

    
    <div class="form-group">
        <label>Class</label>
        <input type="text" name="userclass" id="classname" list="class-list" value="{{info.s_class}}">
        <datalist id="class-list">
            <select id="classname">
                {% for class in classes %}
                <option value="{{class}}">{{class}}</option>
                {% endfor %}
            </select>
        </datalist>
    </div>
    
    <div class="form-group">
        <label>Phone</label>
        {{form.phone}}
    </div>

      <input class="submit" type="submit" value="Update"/>
    </form>
</div>
{% endblock content %}
